html,
body,
main {
  height: 100%;
}

red,
.red {
  color: red;
}

.timesup {
  color: red;
}

#viewer-preview {
  //pointer-events: none;
}

#t-style {
  position: absolute;
  z-index: 9999;
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
}

#alert {
  animation: blink .5s linear infinite alternate;
}